body
{
	margin: 0 0 0 0;
}
header
{
	margin-top: 50px;	
	margin-left: 17.3%;
    margin-right: 17.3%;    
    
    display: flex;
}
.columns
{
	margin-left: 17.3%;
    margin-right: 17.3%;       
}
.image {
  position: relative;
  width: 100%;
}

.image1 {
  opacity: 1;
  display: inline-block;
  min-width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  text-align: center;
}
.image:hover .image1 {
  opacity: 0.3;
}

.image:hover .middle {
  opacity: 1;
}

.text { 
  color: black;
  font-size: 1vw;
  padding: 1px 1px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.left
{
	width: 50%;
}
.logo
{
	width: 140px;	
	height: auto;
}

.right-text
{
	width: 50%;
	margin-top: 94px;
}
h1
{
	font-weight: normal;
}
.right-text a
{
	text-decoration: none;
	color: black;
}
@media only screen and (max-width: 1200px) 
{
.logo
{
	width: 120px;	
}
.right-text
{
	margin-top: 78px;
}
}	
@media only screen and (max-width: 768px) 
{
   header
{
	margin-left: 2.5%;
	margin-right: 2.5%;
} 
.columns
{
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.text
{
	font-size: 100%;
} 
}
@media only screen and (max-width: 500px) 
{
.logo
{
	width: 100px;
	/*max-height: 240px;*/	
}

.left
{
	width: 50%;
	height: auto;
}

.right-text
{
	width: 50%;
	margin-top: 0px;
}

header
{
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.columns
{
	margin-left: 2.5%;
	margin-right: 2.5%;
}
}
@media only screen and (max-width: 450px) 
{
header
{
	margin-left: 3%;
	margin-right: 3%;
}
.columns
{
	margin-left: 3%;
	margin-right: 3%;
}
}
@media only screen and (max-width: 350px) 
{
header
{
	margin-left: 0px;
	margin-right: 0px;
}
.columns
{
	margin-left: 0px;
	margin-right: 0px;
}
.middle {
	opacity: 1;
}
}